streamlit>=1.22.0
pandas>=1.5.0
numpy>=1.23.0
nltk>=3.7
textblob>=0.17.1
vaderSentiment>=3.3.2
matplotlib>=3.6.0
seaborn>=0.12.0
wordcloud>=1.8.2.2
tqdm>=4.64.0
emoji>=2.2.0
scikit-learn>=1.2.0
empath>=0.89

# Updated for Python 3.11 compatibility
huggingface-hub>=0.19.4
sentence-transformers>=2.6.1
bertopic>=0.16.0
